@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    font-style: normal;
}
ol,
ul {
    list-style: none;
}
#grid_container {
    background: rgb(49, 3, 39);
    background: radial-gradient(
        circle,
        rgba(49, 3, 39, 1) 50%,
        rgba(28, 11, 25, 1) 100%
    );
    overflow: hidden;
}

#info_section {
    display: grid;
    height: 50vh;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 20%;
    grid-template-areas:
        'greetings summary'
        'contacts summary';
    color: #eeeeee;
}
#greetings {
    grid-area: greetings;
    line-height: 1.5;
    letter-spacing: -1px;
    font-style: italic;
    font-weight: 200;
    font-size: 3.5rem;
    text-shadow: -2px 2px #4ea698;
    padding: 1em 0em 0em 1.5em;
}
#greetings > p {
    position: relative;
    animation: slide_1 2s backwards;
    animation-delay: 0.25s;
}
@keyframes slide_1 {
    0% {
        left: -400px;
    }
    100% {
        left: 0;
    }
}
#summary {
    grid-area: summary;
    text-align: justify;
    text-indent: 36px;
    text-shadow: 2px 2px #4ea698;
    word-break: keep-all;
    line-height: 1.5;
    letter-spacing: -1px;
    font-style: italic;
    font-weight: 200;
    font-size: 2.5rem;
    padding: 1em 1.5em 0em 1.5em;
    border-bottom: 4px solid #2cd87f;
}
@keyframes slide_2 {
    0% {
        left: 400px;
    }
    100% {
        left: 0;
    }
}
#summary p {
    position: relative;
    animation: slide_2 2s backwards;
    animation-delay: 0.25s;
}
#contacts {
    grid-area: contacts;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 2em;
    border-bottom: 4px solid #2cd87f;
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50%;
}
.contact a {
    position: relative;
    text-decoration: none;
    font-size: 2rem;
    color: #ffffff;
    transition: border 0.25s ease-in;
}
@keyframes up {
    0% {
        top: 0px;
        border-bottom: 0px solid #2cd87f;
    }
    100% {
        top: -4px;
        border-bottom: 2px solid #2cd87f;
    }
}
.contact a:hover {
    animation: up 0.25s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}
.icon {
    position: relative;
    width: 80px;
    height: 100%;
    text-align: justify;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 2.25em;
}
#github_icon {
    background-image: url(./img/github.png);
}
#linkedin_icon {
    background-image: url(./img/linkedin.png);
}
#skills_section {
    display: grid;
    grid-template-rows: 75px 1fr;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: #ffffff;
    padding: 1em 0.5em;
    background-color: #36122d;
    margin: 1em;
    border-radius: 1rem;
}
#skills_section p {
    justify-self: left;
    margin-left: 50px;
    font-style: italic;
}
#skills {
    display: grid;
    grid-template-columns: repeat(4, minmax(250px, 1fr));
    justify-items: center;
    gap: 1.5rem;
}
.skill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    background-color: #2e2872;
    box-shadow: inset 0px 0px 10px 1px #2cd87f;
    border-radius: 26px;
    padding: 0.5em 2em;
    font-size: 1.25rem;
}
.skill:hover {
    box-shadow: 0px 0px 8px 1px #2cd87f;
    transform: scale(1.1);
}
.skill img {
    width: 25%;
}
.skill p {
    text-align: center;
}
#certifications {
    font-weight: bold;
    font-style: italic;
    font-size: 2rem;
    color: #ffffff;
    padding: 1em 2em;
    background-color: #36122d;
    margin: 1em;
    border-radius: 1rem;
}
.cert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cert a {
    font-style: normal;
    text-decoration: none;
    font-size: 2rem;
    color: #4ea698;
}
.cert a:hover {
    position: relative;
    animation: up 0.25s forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}
footer {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #d7cf07;
}
@media (max-width: 480px) {
    #info_section {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr 15%;
        grid-template-areas:
            'greetings'
            'summary'
            'contacts';
    }
    #greetings {
        flex: 1 0 auto;
        font-size: 2rem;
        padding: 1em 0.5em 0em 1.5em;
    }
    #summary {
        flex: 1 0 auto;
        font-size: 1.7em;
        border-bottom: none;
    }
    #contacts {
        flex: 1 0 auto;
        order: 3;
        border-top: 8px solid #2cd87f;
        border-bottom: 8px solid #2cd87f;
        padding: 0em 2em;
    }
    .contact a {
        font-size: 1.5em;
    }
    .contact a:hover {
        animation: none;
    }
    .icon {
        background-size: 3em;
    }
    #skills_section {
        padding: 1.5em 0em;
        grid-template-rows: 100px 1fr;
        margin: 0.5em;
        font-size: 1.75em;
    }
    #skills_section p {
        margin-left: 40px;
    }
    #skills {
        grid-template-columns: 1fr;
        gap: 1em;
    }
    .skill {
        width: 300px;
        height: 100px;
        padding: 2em 1.5em;
    }
    #certifications {
        font-size: 1.5rem;
        padding: 0.75em 1em;
    }
    .cert {
        background-color: rgba(0, 0, 0, 0.3);
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
        margin-top: 1em;
        border-radius: 20px;
    }
    .cert p {
        text-align: center;
    }
    .cert a {
        margin-top: 1em;
    }
}
@media (min-width: 481px) and (max-width: 1023px) {
    #info_section {
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 1fr 15%;
        grid-template-areas:
            'greetings'
            'summary'
            'contacts';
    }
    #greetings {
        font-size: 3rem;
        padding: 0.5em 0.5em 1em 1.5em;
    }
    #summary {
        font-size: 2.75rem;
        padding: 1em 1.5em 1em 1em;
    }
    #contacts {
        padding: 0em 1em;
        margin-bottom: 30px;
    }
    .contact a {
        font-size: 2rem;
    }
    .contact a:hover {
        animation: none;
    }
    .icon {
        background-size: 4rem;
    }
    #skills {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }
    .skill {
        width: auto;
        padding: 1em 1em;
        font-size: 1.5rem;
    }
    .skill p {
        margin: 0px !important;
    }
    .skill img {
        width: 30%;
    }
}
@media (min-width: 1024px) and (max-width: 1248px) {
    #info_section {
        display: grid;
        height: 50vh;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 20%;
        grid-template-areas:
            'greetings summary'
            'contacts summary';
    }
    #summary {
        font-size: 2.25rem;
        padding: 1em 1.5em 0em 1em;
    }
    #skills {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(4, 1fr);
        gap: 1rem;
    }
    .skill {
        width: auto;
        padding: 1em 1em;
        font-size: 1.5rem;
    }
    .skill p {
        margin: 0px !important;
    }
    .skill img {
        width: 30%;
    }
}
